<div style="clear:both">
  <div>
    <div class="p">
      Client Side Changes
    </div>
  </div>
  <div>
    <iframe src="/iframe_content/client_side_changes" id="client-side-iframe" class="photo" scrolling="yes" frameborder="0"></iframe>
  </div>
  <div style="clear:both; line-height: 0px; font-size: 0px">
    &nbsp;
  </div>
</div>
